* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  color: #ffffff;
}

body {
  font-size: 25px;
  min-height: 100vh;
  width: 100%;
  background: url("https://images.pexels.com/photos/3165335/pexels-photo-3165335.jpeg?cs=srgb&dl=pexels-lucie-liz-3165335.jpg&fm=jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.main-container {
  margin: auto;
  max-width: 800px;
}
.flex {
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  flex-direction: row;
  /*flex-wrap: wrap;*/
}

.mad-libs-edit {
  text-align: center;
  /* display: flex; */
  background: rgba(0, 0, 0, 0.32);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 30px;
  gap: 50px;
}
.mad-libs-preview {
  text-align: center;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.32);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 30px;
  gap: 50px;
}

.mad-libs-preview h1 {
  text-align: center;
}

input {
  width: 10rem;
  height: 2rem;
  padding-left: 50px;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 50px;
  border: 3px solid #9106a0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  transition: 1.1s ease;
}

input[type="text"]:focus {
  border: 3px solid #555;
  background-color: rgb(197, 146, 195);
  transform: scale(1.1);
}

#btn {
  font-weight: 800;
  margin-top: 3rem;
  border-radius: 50px;
  width: 8rem;
  height: 3rem;
  color: black;
  background-color: #7a4181;
  border: none;
  transition: 1.1s ease;
}
#btn:hover {
  transform: scale(1.1);
  background-color: #87658b;
}
